  <!-----------------tabla------------->
  <div class="text-center">
    <h1>Finanzas</h1>
  </div>
  <div class="container mt-5 col" >  
    <table class="table table-hover" id="tabla-finanzas">
      <thead class="thead-dark">
        <tr class="">
          <th scope="col">Ingresos de caja</th> 
          <th scope="col">Retiros de caja</th> 
          <th scope="col"> Corte de caja</th>
          <th scope="col">Actualización de dinero</th>
          <th scope="col">Ganancias</th>  
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>